body {
  background: lightgray;
  width: 95%;
  /*max-width: 600px;*/
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 20px;
}

.report {
  max-width: 600px;
}

.vis {
  max-width: 900px;
}

h1 {
  color: darkred;
  font-size: x-large;
  margin-top: 0px;
}

h2 {
  color: darkred;
  font-size: large;
  margin-top: 30px;
  margin-bottom: 0px
}

h3 {
  color: darkred;
  font-weight: normal;
}

h5 {
  margin-top: 10px;
}

p {
  color: black;
  font-size: medium;
  margin-top: 0px;
}

a {
  color: black;
  font-weight: normal;
  /*text-decoration: none;*/
}

img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

th {
  text-align: left;
}

.content {
  background: white;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 200px;
}

.mono {
  font-family: monospace;
  font-size: large;
  font-style: normal;
  font-weight: normal;

}

.collapse a {
  color: darkred;
}


.part {
  font-style: italic;
}

.dotOn {
  fill: rgba(0,0,0,1);
}

.dotOff {
  fill: rgba(0,0,0,0);
}

.gridYear {
  font-size: 8pt;
  font-family: sans-serif;
}

.meanDeviation {
  margin-bottom: 50px;
}

.min-max-area {
  fill: rgba(255, 255, 255, 0.25);
}

.tempCell {
  fill: rgba(175, 175, 175, 1);
}

.tempLine-off line {
  stroke: rgba(100, 100, 100, 0.1);
  stroke-width: 1px;
}

.tempLine-on line {
  stroke: rgba(175, 0, 0, 1);
  stroke-width: 4px;
  stroke-linecap: round;
}

.xLines {
  stroke: rgba(0,0,0,0.2);
  stroke-dasharray: 2,2;
}

.yLines {
  stroke: rgba(0,0,0,0.2);
  stroke-dasharray: 2,2;
}

.hideBar {
  fill: rgba(0,0,255,0);
}

.slider-wrapper {
  display: inline-block;
  padding: 0;
}

.line {
  fill: none;
  stroke: grey;
  stroke-width: 1.5px;
}

.area {
  fill: grey;
  stroke: grey;
  stroke-width: 1.5px;
}

.hideBar {
  fill: rgba(0,0,255,0);
}



/* NEW CSS ENTRIES */

/* Control the styling of the left-hand text accordian */
.card-header [role="button"] {
  display: flex;
  padding: 10px;
  padding-left: 30px;
}

.card-header {
  padding: 0;
}

.card-header h5 {
  margin: 0;
}

.card-header a {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.card-body-text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400 !important;
  font-style: normal;
  margin-left: 30px;
  margin-right: 30px;
}







circle {
  stroke: white;
  stroke-width: 1.2px;
}

.CO { fill: #e41a1c; }
.O3 { fill: #377eb8; }
.SO2 { fill: #4daf4a; }
.PM10 { fill: #984ea3; }
.PM25 { fill: #ff7f00; }
.NOX { fill: #a65628; }
.NO2 { fill: #ffff33; }

.HCOmask {
  background: rgb(255,255,255);
}

.barChart path { stroke: rgba(0,0,0,0); }

.barChart .yAxis line { stroke: rgba(0,0,0,0.3); }

.barChart .barIgnore {
  fill: rgba(255,255,255);
  stroke: rgb(0,0,0);
  stroke-width: 0.5px;
  opacity: 1;
}

.barChart .value {
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
}

.timeStep rect {
  cursor: pointer;
}

.valueBox {
  opacity: 0.4;
  cursor: pointer;
}

.barChart .label {
  font-size: 12px;
}

.labelBox {
  opacity: 0.5;
}

.particleIgnore {
  stroke: rgb(0,0,0);
  stroke-width: 1px;
  fill: rgba(255,255,255);
}

.person {
  fill: rgba(0,0,0,0.5);
}

#controls {
  height: 22px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

button {
  background: white;
  width: auto;
  height: 22px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.btn-linechart {
  width: 75px;
  background: rgba(0,0,0,.03);
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  line-height: 1px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 5px #ccc;
}